spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/${var.database.name}
    username: postgres
    password: sql
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5

var:
  database:
    name: jaipro
    schema: jaipro
